@font-face {
  font-family: "Montserrat";
  src: url("../Fonts/Montserrat-Regular.ttf");
  font-style: normal;
  font-display: swap;
}

:root {
  --background-primary-color: #ffffff;
  --background-secondary-color: #f5f5f5;
  --background-tertiary-color: #000000;

  --primary-color: #8f0101;
  --secondary-color: #B81515#;

  --text-primary-color: #222222;
  --text-secondary-color: #ffffff;

  --titles-weights: 700;
  --text-weights: 400;
  --menu-text-weights: 500;
}

/* CSS RESET */
body, img, h1, p, fieldset, legend, label, textarea, button{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
} 

body{
    font-family: 'Montserrat', sans-serif;
}

