header{
    background-color: var(--background-tertiary-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 38px 48px;
    position: relative;

}
.logo{
 display: inline-block; 
 width: 68px ;
 height:64px ;
 
}

.img-logo-mobile{
    display: block;
}

.img-logo-desktop{
    display: none;
}

.navegacao-menu{
    margin-top: 24px;
    
}

input[type="checkbox"]:checked ~ nav {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
}

nav{
    display: none;
    width: 100%;
    background-color: var(--background-tertiary-color);
}

.list-links{
    list-style: none;
    
}

.list-links li{
    margin: 16px 0;
    text-align: center;
}

.list-links li a{
    color: var(--background-secondary-color);
    text-decoration: none;
    font-weight: var(--menu-text-weight);
    font-size: 24px;
}

@media screen and (min-width: 768px) {
    .navegacao-menu{
        margin-top: 0;
        width: 467px;
    }
    .navegacao-menu label{
        display: none;
    }
    .navegacao-menu ul{
        display: flex;
        justify-content: space-between;
        padding: 0;
        align-items: center;
    }

    .navegacao-menu ul li{
        margin: 0;
    }   
    .navegacao-menu nav{
        display: block;
    }

}


@media screen and (min-width: 1024px) {
    header{
        padding: 38px 120px;
    }
    
    .logo{
        width: 260px;
        height: 64px;
    }
    
    .img-logo-mobile{
        display: none;
    }
    .imglogo-desktop{
        display: block;
    }

    .list-links li a:hover{
        color: var(--primary-color);     
        
    }

}

@media screen and (min-width: 1024px) {
    header{
        padding: 38px 165px;
    }
}