.card {
  color: var(--text-secondary-color);
  width: 312px;
  height: 288px;
  box-sizing: border-box;
  background-color: black;
  border-radius: 16px;
  text-align: center;
  padding: 24px 16px; 
}

.card header {
  display: block;
  background-color: transparent;
  position: static;
     
}

.card header p {
  font-weight: var(--text-weights);
  font-size: 20px;
}

.card header h3 {
  font-size: 48px;
  font-weight: var(--titles-weights);
  margin: 8px 0 0;
}

.card header span {
  font-size: 32px;
  display: inline-block;
  margin-top: 24px;
}
